/* Footer */

.footer {
  background-color: var(--bs-secondary);
  color: var(--bs-gray-200);
}
.copyright {
  background-color: var(--bs-secondary);
}
address {
  font-style: normal;
  line-height: inherit;
}