<!-- About Section-->
<section class="page-section bg-blue text-secondary mb-0" id="about">
	<div class="container">
		<!-- About Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary">About</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-seedling"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- About Section Content-->
		<div class="row">
			<div class="col-lg-8 offset-lg-2 me-auto">
				<p class="lead">We are a native plant nursery located in the central plateau, growing for the re-generation market.</p>
			</div>
			<div class="col-lg-8 offset-lg-2 me-auto">
				<p class="lead">We will select your order from our nursery and dispatch it to you.</p>
			</div>
			<div class="col-lg-8 offset-lg-2 me-auto">
				<p class="lead">Our plants are grown predominantly in 14cm pots (1.4L) or larger. This gives a decent root ball and plant height.</p>
			</div>
			<div class="col-lg-8 offset-lg-2 me-auto">
				<p class="lead">A substantial root ball is necessary to aid moisture storage for the plant, that is required for rural, large scale plantings where the plants are often left a little to their own device.</p>
			</div>
			<div class="col-lg-8 offset-lg-2 me-auto">
				<p class="lead">The plant height when planted is also important to get above weeds or grass growth and help to ward off rabbit and hare attack.</p>
			</div>
		</div>
	</div>
</section>