<!-- Contact Section-->
<section class="page-section bg-blue" id="contact">
	<div class="container">
		<!-- Contact Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-seedling"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Contact Section Form-->
		<form name="contact" data-netlify="true" netlify-honeypot="bots-r-us" hidden>
			<input type="text" name="bots-r-us" />
			<input type="text" name="name" />
			<input type="email" name="email" />
			<input type="tel" name="phone" />
			<textarea name="message"></textarea>
			<div className="captcha" data-netlify-recaptcha="true"></div>
		</form>
		<div id="contactForm">
		</div>
	</div>
</section>