<!-- Footer-->
<footer class="footer pt-4 text-center">
	<div class="container">
		<!-- Footer Location-->
		{% if page.url == '/' %}
		<div class="d-flex justify-content-center">
			<p class="address mb-0">
				{% for address in site.address %}
				{{ address.line }} <br />
				{% endfor %}
			</p>
		</div>
	</div>
	<div class="scroll-top page-scroll d-block d-md-none mt-4 mb-0">
		<a class="btn btn-primary" href="#">
		<i class="fa fa-chevron-up"></i>
		</a>
		</div>
		{% endif %}
<!-- Copyright Section-->
	<div class="copyright py-4 text-center">
		<div class="container">
			<small>&copy; {{ site.footer.copyright }} {{ site.time | date: '%Y' }}</small>
		</div>
	</div>
</footer>