<!-- Header -->
<!-- Masthead-->
<header class="masthead bg-green text-secondary text-center">
	<div class="container d-flex align-items-center flex-column">
		<!-- Masthead Avatar Image-->
		<!-- <img class="masthead-avatar mb-5" src="{{ '/assets/img/avatar.svg' | relative_url }}" alt="profile-pic" /> -->
		<!-- Masthead Heading-->
		<h1 class="masthead-heading text-uppercase mb-0">{{ site.title }}<br>{{ site.subtitle }}</h1>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-seedling"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Masthead Subheading-->
		<p class="masthead-subheading font-weight-light mb-0">{{ site.skills }}</p>
	</div>
</header>