<!-- Portfolio Modals -->
<!-- {% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="{{ '/assets/img/plants/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} -->
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/karamu.jpg' | relative_url }}" alt="Coprosma robusta / Karamu" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/tikouka.jpg' | relative_url }}" alt="Cordyline australis / Cabbage Tree / Ti Kouka" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/akeake.jpg' | relative_url }}" alt="Dodonaea viscosa / Ake Ake" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/pakeake.jpg' | relative_url }}" alt="Dodonaea viscosa purpurea / Purple Ake Ake" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/kapuka.jpg' | relative_url }}" alt="Griselinia littoralis / Native Broadleaf / Kapuka" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/kanuka.jpg' | relative_url }}" alt="Kunzea ericoides / Kanuka" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 7-->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal7" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/manuka.jpg' | relative_url }}" alt="Leptospermum scopariume / Tea Tree / Manuka" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 8-->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" aria-labelledby="portfolioModal8" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/mountainflax.jpg' | relative_url }}" alt="Phormium cookianum / Mountain Flax" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 9-->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" aria-labelledby="portfolioModal9" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/harakeke.jpg' | relative_url }}" alt="Phormium tenax / NZ Flax / Harakeke" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 10-->
<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" aria-labelledby="portfolioModal10" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/tarata.jpg' | relative_url }}" alt="Pittosporum eugenoides / Lemonwood / Tarata" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 11-->
<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" aria-labelledby="portfolioModal11" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/kohuhu.jpg' | relative_url }}" alt="Pittosporum tenuifolium / Kohuhu" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 12-->
<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" aria-labelledby="portfolioModal12" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/fivefinger.jpg' | relative_url }}" alt="Pseudopanax arboreus / Five Finger" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio Modal 13-->
<div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" aria-labelledby="portfolioModal13" aria-hidden="true">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
			<div class="modal-body text-center pb-5">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Portfolio Image-->
						<img class="img-fluid rounded mb-5" src="{{ '/assets/img/plants/pukio.jpg' | relative_url }}" alt="Carex virgata / Pukio" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>