<!--<div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ '/assets/img/plants/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div> -->
<!-- Portfolio Section-->
<section class="page-section bg-purple text-white portfolio" id="catalogue">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Catalogue</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-seedling"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="tabs">
				<button class="btn btn-primary filter active" id="filt" href="" data-rel="aval">Available</button>
				<button class="btn btn-primary filter" id="filt" href="" data-rel="oos">Unavailable</button>
			</div>
		</div>
		<div class="work">
			<!-- Portfolio Grid Items-->
			<div class="row justify-content-center">
				<div class="row justify-content-start">
					<!-- Portfolio Item 1-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal1" src="{{ '/assets/img/plants/karamu_thumb.jpg' | relative_url }}" alt="Coprosma robusta / Karamu" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class="text-secondary text-uppercase mb-0">Coprosma robusta</h5>
						<h6 class="text-secondary text-uppercase mb-0">Karamu</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Easily grown shrub. Glossy dark green leaves. Bright orange-red berries on female plants.</p>
						<p class="mb-4 text-black">2m x 1.5m</p>
					</div>
					<!-- Portfolio Item 2-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal2" src="{{ '/assets/img/plants/tikouka_thumb.jpg' | relative_url }}" alt="Cordyline australis / Cabbage Tree / Ti Kouka" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Cordyline australis</h5>
						<h6 class="text-secondary text-uppercase mb-0">Cabbage Tree - Ti Kouka</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Hardy sword leaf type palm with tall trunk. Sprays of white flowers in late spring.</p>
						<p class="mb-4 text-black">6m x 2m</p>
					</div>
					<!-- Portfolio Item 3-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal3" src="{{ '/assets/img/plants/akeake_thumb.jpg' | relative_url }}" alt="Dodonaea viscosa / Ake Ake" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Dodonaea viscosa</h5>
						<h6 class="text-secondary text-uppercase mb-0">Ake Ake</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Hardy green bushy large shrub. Excellent for hedges.</p>
						<p class="mb-4 text-black">7m x 2.5m</p>
					</div>
					<!-- Portfolio Item 4-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal4" src="{{ '/assets/img/plants/pakeake_thumb.jpg' | relative_url }}" alt="Dodonaea viscosa purpurea / Purple Ake Ake" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Dodonaea viscosa purpurea</h5>
						<h6 class="text-secondary text-uppercase mb-0">Purple Ake Ake</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Hardy, fast growing bushy shrub or small tree. Purple/burgundy leaves. Great for hedges. </p>
						<p class="mb-4 text-black">6m x 2.5m</p>
					</div>
					<!-- Portfolio Item 5-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal5" src="{{ '/assets/img/plants/kapuka_thumb.jpg' | relative_url }}" alt="Griselinia littoralis / Native Broadleaf / Kapuka/ " />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Griselinia littoralis</h5>
						<h6 class="text-secondary text-uppercase mb-0">Native Broadleaf - Kapuka</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Glossy green, leathery leaves. Hardy shrub/small tree.</p>
						<p class="mb-4 text-black">3m x 2m</p>
					</div>
					<!-- Portfolio Item 6-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal6" src="{{ '/assets/img/plants/kanuka_thumb.jpg' | relative_url }}" alt="Kunzea ericoides / Kanuka" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Kunzea ericoides</h5>
						<h6 class="text-secondary text-uppercase mb-0">Kanuka</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Great for re-vegetation and can handle dry ground. Small leaves with bright white flowers.</p>
						<p class="mb-4 text-black">8m x 3m</p>
					</div>
					<!-- Portfolio Item 7-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal7" src="{{ '/assets/img/plants/manuka_thumb.jpg' | relative_url }}" alt="Leptospermum scopariume / Tea Tree / Manuka" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Leptospermum scopariume</h5>
						<h6 class="text-secondary text-uppercase mb-0">Tea Tree - Manuka</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Similar to Kanuka. Slightly larger leaves. Can handle moist soils.</p>
						<p class="mb-4 text-black">4m x 3m</p>
					</div>
					<!-- Portfolio Item 8-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal8" src="{{ '/assets/img/plants/mountainflax_thumb.jpg' | relative_url }}" alt="Phormium cookianum / Mountain Flax" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Phormium cookianum</h5>
						<h6 class="text-secondary text-uppercase mb-0">Mountain Flax</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Smaller growing flax than P. tenax. Good on hills, cliffs, dry areas.</p>
						<p class="mb-4 text-black">1m x 1m</p>
					</div>
					<!-- Portfolio Item 9-->
					<div class="col-auto mb-5 portfolio-item scale aval">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal9" src="{{ '/assets/img/plants/harakeke_thumb.jpg' | relative_url }}" alt="Phormium tenax / NZ Flax / Harakeke" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale aval">
						<h5 class=" text-secondary text-uppercase mb-0">Phormium tenax</h5>
						<h6 class="text-secondary text-uppercase mb-0">NZ Flax - Harakeke</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Well-known plant with green sword leaves. Handles wet areas.</p>
						<p class="mb-4 text-black">2m x 2m</p>
					</div>
					<!-- Portfolio Item 10-->
					<div class="col-auto mb-5 portfolio-item scale oos">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal10" src="{{ '/assets/img/plants/tarata_thumb.jpg' | relative_url }}" alt="Pittosporum eugenoides / Lemonwood / Tarata" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale oos">
						<h5 class=" text-secondary text-uppercase mb-0">Pittosporum eugenoides</h5>
						<h6 class="text-secondary text-uppercase mb-0">Lemonwood - Tarata</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Hardy, bushy trees with large light green leaves.</p>
						<p class="mb-4 text-black">5m x 3m</p>
					</div>
					<!-- Portfolio Item 11-->
					<div class="col-auto mb-5 portfolio-item scale oos">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal11" src="{{ '/assets/img/plants/kohuhu_thumb.jpg' | relative_url }}" alt="Pittosporum tenuifolium / Kohuhu" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale oos">
						<h5 class=" text-secondary text-uppercase mb-0">Pittosporum tenuifolium</h5>
						<h6 class="text-secondary text-uppercase mb-0">Kohuhu</h6>
						<!-- Portfolio Text-->
						<p class="mb-4 text-black">Easily grown, hardy small leaf Pittosporum.</p>
						<p class="mb-4 text-black">5m x 3m</p>
					</div>
					<!-- Portfolio Item 12-->
					<div class="col-auto mb-5 portfolio-item scale oos">
						<img class="img-responsive" data-bs-toggle="modal" data-bs-target="#portfolioModal12" src="{{ '/assets/img/plants/fivefinger_thumb.jpg' | relative_url }}" alt="Pseudopanax arboreus / Five Finger" />
					</div>
					<div class="col-6 col-md-3 col-lg-4 mb-5 portfolio-item text-start scale oos">
						<h5 class=" text-secondary text-uppercase mb-0">Pseudopanax arboreus</h5>
						<h6 class="text-secondary text-uppercase mb-0">Five Finger</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>